.root,
div {
  float: left;
  padding: 10px;
  margin: 10px;
  border: solid 1px #000;
  box-sizing: content-box;
}
.root {
  width: 1000px;
  height: 360px;
}
.child-1 {
  width: 455px;
  height: 320px;
}
.child-2 {
  width: 175px;
  height: 280px;
}
.child-3 {
  width: 35px;
  height: 240px;
}
.btn {
  clear: left;
  position: relative;
  border: none;
  margin: 0;
  padding: 0 10px;
  left: 500px;
  margin-left: -40px;
}
